<%- include('header.ejs') %>

<p>Madhav Institute of Technology and Science, formerly known as Madhav Engineering College and commonly referred to as MITS Gwalior,<br>
     is a government-aided autonomous institute founded in 1957 and located in Gwalior in the state of Madhya Pradesh, India</p>

<%- include('footer.ejs') %>