<%- include('header.ejs') %>

<div class="container">
    <div class="row py-3">
        <div class="col-md-6">
            <h3 class="text-center">Get in touch</h3>
            <p> Racecourse Rd, near Gola ka Mandir,<br> Mela Ground, Thatipur,<br> Gwalior, <br>Madhya Pradesh 474005</p>
        </div>
        <div class="col-md-6">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3578.9316480438765!2d78.20315321503061!3d26.231410383425747!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3976c14c64938e5f%3A0x87b3d6a725f7b077!2sMadhav%20Institute%20of%20Technology%20%26%20Science!5e0!3m2!1sen!2sin!4v1677754325404!5m2!1sen!2sin" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
    </div>
</div>

<%- include('footer.ejs') %>