<%- include('../../header.ejs') %>
  <marquee> <h1 >MBA Registration Form</h1> </marquee>
  <h1 class="text-center bg-success"> DO REGISTER</h1>
  
  <div class="container">
    <div class="row">
        <hr>
        <div class="col-md-6">
           <img src="../../../image/mba.jpg " class="w-100 py-4">
        </div>
         <div class="col-md-6">
          <form method="post" action="/mbaform">
            <% ma.forEach((item)=> {  %> 
            <label><b>Full Name</b></label>
            <input type="text" placeholder="Fullname" name="fname" class="form-control mb-3" value="<%= item.fname%>">
            <label><b> Email</b></label>
            <input type="text" placeholder="Email"  name="email" class="form-control mb-3" value="<%= item.email">
            <% }) %>
            <label><b>Mobile No.</b></label>
            <input type="number" placeholder="Mobile" name="mobile"  class="form-control mb-3">
            <label><b>Date of Birth</b></label>
            <input type="date" name="dob" class="form-control mb-3">
            <label><b>Gender</b></label><br>
            <input type="radio" value="Male" name="gender">Male
            <input type="radio" value="Female" name="gender" >Female<br><br>
            <label><b>Address</b></label><br>
            <textarea  name="address" class="form-control mb-3"></textarea>
            <label><b>College</b></label>
            <select  name="college" class="form-control">
                <option value="">--Select College--</option>
                <option value="MITS">MITS</option>
                <option value="RIMT">RIMT</option>
                <option value="ITM">ITM</option>
                <option value="RJIT">RJIT</option>
            </select><br>
            <label><b>Course</b></label>
            <select name="course" class="form-control">
                <option>--Select Course--</option>
                <option value="MBA">MBA</option>
                </select><br>
            <label><b>Branch</b></label>
            <select name="branch" class="form-control">
                <option value="">--Select Branch--</option>
                <option value="HR">Human Resource</option>
                <option value="A/C">Accounts</option>
                <option value="finance">Finance</option>
              
            </select><br>
            <div class="text-center"><button class="btn btn-info mb-3 ">Submit</button>  </div>
           
         </form>
        </div>
        <hr>
    </div>
  </div>
<%- include('../../footer.ejs') %>